@font-face {
    font-family: 'Lato';
    src: url('Lato-Light.eot');
    src: url('Lato-Light.eot?#iefix') format('embedded-opentype'),
        url('Lato-Light.woff2') format('woff2'),
        url('Lato-Light.woff') format('woff'),
        url('Lato-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('Lato-Black.eot');
    src: url('Lato-Black.eot?#iefix') format('embedded-opentype'),
        url('Lato-Black.woff2') format('woff2'),
        url('Lato-Black.woff') format('woff'),
        url('Lato-Black.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}